name: CI Pipeline

on:
  # ramas en las que se ejecuta el workflow tanto en push como en pull request
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.102
      - name: Restore & Build
        run: |
          dotnet restore
          dotnet build --configuration Release

  unit-tests:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.102
      - name: Run Unit Tests
        run: |
          mkdir -p UnitTestResults
          dotnet test ./dawazonTest/dawazonTest.csproj \
            --configuration Release \
            --logger "trx;LogFileName=UnitTestResults/UnitTestResults.trx"
      - name: Upload Unit Test Results
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results
          path: UnitTestResults

  e2e-tests:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.102
      - name: Restore & Build Playwright Project
        run: |
          dotnet restore ./dawazonPlayWrite/dawazonPlayWrite.csproj
          dotnet build ./dawazonPlayWrite/dawazonPlayWrite.csproj --configuration Release
      - name: Install Playwright CLI & Browsers
        run: |
          dotnet tool install --global Microsoft.Playwright.CLI
          cd dawazonPlayWrite
          playwright install --with-deps
      - name: Run Playwright Tests
        run: |
          mkdir -p E2ETestResults
          dotnet test ./dawazonPlayWrite/dawazonPlayWrite.csproj \
            --configuration Release \
            --logger "trx;LogFileName=E2ETestResults/PlaywrightResults.trx"
      - name: Upload E2E Test Results
        uses: actions/upload-artifact@v4
        with:
          name: e2e-test-results
          path: E2ETestResults
